footer{
    background: $black;
    color: $white;
    .footer-container{
        padding: 60px 0;
        p{
            text{
                color: $white;
            }
            span, i{
                cursor: pointer;
            }
        }
        .footerLine{
            background: $text;
        }
        @media #{$mobile}{
            h3{
                @include font($s: 14px);
            }
            padding: 20px 0;
        }
    }
}